.search-container{
    max-width:1200px;
    margin:30px auto;
    padding:0 20px;
}

.search-container input{
    width:100%;
    padding:15px 20px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:17px;
}

.search-container input:focus{
    border-color:#2563eb;
}