.products-page {
  max-width: 1300px;
  margin: auto;
  padding: 30px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 30px;
  margin-top: 30px;
}